
<div class="row margin-bottom-20">

    <div class="text-align-top blog-summary">
        <hr />
        <h3>@Model.Title</h3>
        <img src="@Model.Image?.ResolvedUrl" alt="@Model.Image?.Title" class="img-responsive" />
        
        <h6><strong>Brad Jolicoeur</strong>  -  @Model.PublishedDate.ToString("MM/dd/yyyy")</h6>
        <TagLinkList Tags="Model.GetTags()" />

        <span class="button-link">
            <a href="/article/@Model.Slug">Read</a>
        </span>

    </div>
</div>

@code {

    [Parameter]
    public BlogArticle Model { get; set; } = new();

}