@model EmbedVideo

<div class="embed-responsive embed-responsive-16by9">
    @{
        var host = Model.Host.FirstOrDefault()?.Codename;
        if (host == "funnyordie")
        {
            <iframe src="@Model.Source" frameborder="0" allowfullscreen webkitallowfullscreen mozallowfullscreen></iframe>
        }
        else if (host == "youtube")
        {
            <iframe src="@Model.Source" frameborder="0" allowfullscreen></iframe>
        }
        else if (host == "youtube_channel")
        {
            <iframe src="@Model.Source" frameborder="0" gesture="media" allowfullscreen></iframe>
        }
        else if (host == "vimeo")
        {
            <iframe src="@Model.Source" frameborder="0"></iframe>
        }
        else if (host == "facebook")
        {
            <iframe src="https://www.facebook.com/plugins/video.php?href=@Uri.EscapeDataString(Model.Source)%2F&show_text=1" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media" allowFullScreen="true"></iframe>
        }
    }
</div>
