@model RichImage

<div class="row margin-top-20">
    <div class="col-sm-6">
        <img src="@Model.Images.FirstOrDefault()?.Url" alt="@Model.Label" class="img-responsive margin-bottom-20" />
    </div>
    <div class="col-sm-6">
        @Html.DisplayFor(vm => vm.Content)
    </div>
</div>