@model Socialprofile

@{ string imageUrl = null;

    switch (Model.Type.FirstOrDefault()?.Codename) {
        case "linkedin":
            imageUrl = "images/linkedin32x32.png";
            break;
        case "stack_overflow":
            imageUrl = "images/stackoverflow32x32.png";
            break;
        case "github":
            imageUrl = "images/github32x32.png";
            break;
        default:
            break;
    }
}

<li><a href="@Model.Url" target="_blank"><img src="@imageUrl" alt="@Model.Type.FirstOrDefault().Name" /></a></li>