@page "{id?}"
@model BlogModel
@{
    ViewData["Title"] = Model.ViewModel.ContentPage.Title;
    ViewBag.Description = Model.ViewModel.ContentPage.Title;
    ViewBag.Image = Model.ViewModel.ContentPage.Image?.FirstOrDefault()?.Url;
}

<h2>@Model.ViewModel.ContentPage.Title</h2>

@foreach (var article in Model.ViewModel.BlogArticles)
{
    @Html.DisplayFor(vm => article, "BlogArticleSummary");
}


