@page
@model IndexModel
@{
    ViewData["Title"] = Model.ViewModel.ContentPage.Title;
    ViewBag.Description = Model.ViewModel.ContentPage.Description;
    ViewBag.Image = Model.ViewModel.ContentPage.Image?.FirstOrDefault()?.Url;
}
@section HeroSection {

<div class="row">
    <div class="hero-container">
        <img style="width:100%;" src="~/images/IMG_20180707_161856v2.jpg" alt="Brad self portrait" />
        <div class="container hero-content">
            <p>
                <h1>Hello! I'm Brad.</h1>
                <h3>I convert ideas into working software.</h3>
            </p>
        </div>
    </div>
</div>
}

<div class="container">
    <div class="row well">
        @Html.DisplayFor(vm => vm.ViewModel.ContentPage.Body)
    </div>
    <div class="row">
        <h2>Recent Blog Articles</h2>
        <hr/>
        @foreach (var article in Model.ViewModel.BlogArticles.Items)
        {
            @Html.DisplayFor(vm => article, "BlogArticleSummary");
        }
    </div>
</div>

