@page
@model IndexModel
@{
    ViewData["Title"] = Model.ViewModel.Title;
    ViewBag.Description = Model.ViewModel.Description;
    ViewBag.Image = Model.ViewModel.Image?.FirstOrDefault()?.Url;
}
@section HeroSection {

<div class="row">
    <div class="hero-container">
        <img style="width:100%;" src="~/images/IMG_20180707_161856.jpg" alt="Brad self portrait" />
        <div class="container hero-content">

            <h1>Hello! I'm Brad.</h1>
            <h3>I convert ideas into working software.</h3>
        </div>
    </div>
</div>
}

<div class="container">
    <div class="row">
        @Html.DisplayFor(vm => vm.ViewModel.Body)
    </div>
</div>

