@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}

<h1>@ViewBag.Title</h1>

Click here to view privacy policy: <a href="https://www.iubenda.com/privacy-policy/30647676" class="iubenda-white iubenda-embed " title="Privacy Policy">Privacy Policy</a>
