@page
@model bradjolicoeur.web.Pages.ReadingModel
@{
    ViewData["Title"] = "Feed";
}

<h1>@ViewData["Title"]</h1>

<p>Note that I may not have fully read/viewed all of the things in this feed.  The images, content and opinions in them are owned by their respective authors.</p>

@foreach (var item in Model.content?.Items)
{

    @Html.DisplayFor(vm => item, "ReadingArticleSummary");

}