@page
@model ResumeModel
@{
    ViewData["Title"] = "Resume";
    ViewBag.Description = "Resume";
}
<div class="container">
    <div class="row resume">
        @Html.Raw(MarkdownHelper.Transform(Model.Resume?.Body))
    </div>
</div>
